<%- contentFor('body') %>
<div class="jumbotron text-center">
  <h2>Create Account</h2>
  <form method="post" action="/">
	  <input id="btnCreateAccount" type="submit" value="Create account" class="btn btn-primary btn-lg" >
	</form>
</div>
